<h1>Your Search Results:</h1>
<h3><b><%= @yearSearched %></b> Year Students</h3>
<% if @returned_students.empty? %>
	<p>Your search did not return any results.</p>
<% else %>
	<ul>
	<% @returned_students.each do |student| %>
		<li><%= student.fullName %> : <%= student.current_year %></li>
	<% end %>
	</ul>
<% end %>
<br>
<hr>

<%= link_to('Back to index', students_path) %>